/* Smooth scrolling */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  margin: 0;
  padding: 0;
}

div.no-scrollbar {
  overflow: auto;
}

div.no-scrollbar::-webkit-scrollbar {
  display: none;
}